<h1>Mister Cocktail</h1>
<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
  <br>
<% end %>
<p><%= link_to "â•Add new cocktail", new_cocktail_path %></p>
<%= cl_image_tag("sample", width: 400, height: 300, crop: :fill) %>
